# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2d63b43743af7c21c991b306affb81eec98ea7ddb7336ac953f16d52f69a9f9c78f4366c8bfd1c2f900542d9433520649b56121ca6aada330b4e29158fc91f9d

test:
  secret_key_base: ad5aaab79dfef59f865e70dd42d607e1351275551bb3f7e927ded49f7c3a2251128f3db9e4250ba5f3126f14a24d0436d8fa95e0d27f6f329ff46946262cc24b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: ef99e00bab161f98d6e6c29bc6c7a4b5413600988e11000e30f5eea9d2ef2f54872d8785b35d01c02f6eb8be6a8a662d21cdf25e75901638719c3a9dd53bee70
